{% extends 'base.html' %} {% block content1 %}
<table class="table" style="vertical-align: middle">
  <thead>
    <tr>
      <th scope="col">미리보기</th>
      <th scope="col">현황</th>
      <th scope="col">원인</th>
      <th scope="col">조치방안</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <img
          src="https://media.vlpt.us/images/hanminss/profile/fbf2446c-ab9c-42e0-80e3-899c4c7582b5/social.jpeg?w=240"
          alt=""
        />
      </th>
      <td>교각(P6) 망상균열 (A=4.0m, 1EA)</td>
      <td>건조수축</td>
      <td>표면처리</td>
    </tr>
    <tr>
      <th scope="row">
        <img
          src="https://media.vlpt.us/images/hanminss/profile/fbf2446c-ab9c-42e0-80e3-899c4c7582b5/social.jpeg?w=240"
          alt=""
        />
      </th>
      <td>교각(P6) 망상균열 (A=4.0m, 1EA)</td>
      <td>건조수축</td>
      <td>@표면처리</td>
    </tr>
    <tr>
      <th>
        <img
          src="https://media.vlpt.us/images/hanminss/profile/fbf2446c-ab9c-42e0-80e3-899c4c7582b5/social.jpeg?w=240"
          alt=""
        />
      </th>
      <td scope="row">교각(P11) 파손(A=0.02mm, 1EA)</td>
      <td>외부충격</td>
      <td>@표면처리</td>
    </tr>
  </tbody>
</table>

{% endblock %}
