{% extends 'base.html' %} {% block content %} {{resultMsg}}
{% load static %}


<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  new category
</button>
<div class="row row-cols-1 row-cols-md-4 g-4 m-3">
{% for i in lists %}
  {% if i|length == 1 %}
    <div class="col">
      <div class="card h-100">
        {% for j in i %}
        <div class="card-body">
          <h5 class="card-title text-center">{{j}}</h5>
        </div>
        {% endfor %}
        <img src="{% static 'img/noimage.png' %}" class="card-img-top" />  
      </div>
    </div>
  {% else %}
  {% for j in i %}
    {% if forloop.counter == 1 %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">{{j}}</h5>
        </div>
    {% elif forloop.counter == 2 %}
        <img src="{{j.image.url}}" class="card-img-top" />  
      </div>
    </div>
    {% else %}
    {% endif %}
  {% endfor %}
 
  {% endif %}

{% endfor %}
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">새로만들기</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <label for="newCategory">카테고리명</label>
          <input class="form-control mb-3" type="text" name="newCategory" />
          <button class="btn btn-warning float-end" type="submit">
            만들기
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

