{% extends "base.html" %}
{% block content %}
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{img.image.url}}" alt="..." /></div>
      <div class="col-md-6">
        {% if img.category.name %}
        <h1 class="display-5 fw-bolder">카테고리 : {{img.category.name}}</h1>
        {% else %}
        <h1 class="display-5 fw-bolder">카테고리 : X</h1>
        {% endif %}
        <p class="fs-4">현황 : {{img.state}}</p>
        <p class="fs-4">원인 : {{img.cause}}</p>
        <p class="fs-4">조치방안 : {{img.solution}}</p>
        <div class="d-flex">
          {% if page_obj.isFlattened %}
          <input class="form-control text-center me-3" id="inputQuantity" type="num" disabled value="O"
            style="max-width: 3rem" />
          {% else %}
          <input class="form-control text-center me-3" id="inputQuantity" type="num" disabled value="X"
            style="max-width: 3rem" />
          {% endif %}
          <a href="{% url 'flatting' pk=img.pk %}"><button class="btn btn-outline-dark flex-shrink-0" type="button">
              <i class="fa fa-calculator"></i>
              flatting
            </button></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}